.sku {
    color: grey;
}

.product {
    border: dotted 1px gray;
    margin: 20px;
    padding: 20px;
}

.price {
    color: red;
    font-size: 22px;
}
.customer {
    border: 4px black;
    margin: 20px;
    padding: 20px;
    background: #968b8c;
    width: 500px;
}


